# See https://git-scm.com/docs/gitignore for more about ignoring files.

# log
*.log*

# misc
.DS_Store

# webstorm
.idea/

# visual studio code
.vscode/

# dependencies
node_modules/

# compile
lib/
